schema.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
    <xsd:element name="Class" >
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                name="attribute"
                minOccurs="0"
                maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="name" type="xsd:string"/>
                        <xsd:attribute name="type" type="xsd:string"/>
                        <xsd:attribute name="visibility" type="xsd:string"/>
                        <xsd:attribute name="init-value" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element
                name="method"
                minOccurs="0"
                maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="name" type="xsd:string"/>
                        <xsd:attribute name="type" type="xsd:string"/>
                        <xsd:attribute name="parameters" type="xsd:string"/>
                        <xsd:attribute name="visibility" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="relationships" >
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element
                            name="association"
                            minOccurs="0"
                            maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:attribute name="class-relation" type="xsd:string" />
                                    <xsd:attribute name="card-min" type="xsd:string"/>
                                    <xsd:attribute name="card-max" type="xsd:string"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element
                            name="inheritance"
                            minOccurs="0"
                            maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:attribute name="class-relation" type="xsd:string" />
                                    <xsd:attribute name="priority" type="xsd:integer" />
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="default" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>


